<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}

{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--home"
%}

{# Hero banner #}


{# Two column image right #}


{# Two column image left #}

{% dnd_section
  padding={
    "default" : {
      "top" : "100px"
    },
    "mobile" : {
      "bottom" : "0px"
    }
  }
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="/flex/modules/Text and Circle",
        offset=0,
        width=12,
        image_field={
          "alt" : "video",
          "height" : 24,
          "loading" : "lazy",
          "max_height" : 50,
          "max_width" : 50,
          "size_type" : "exact",
          "src" : "https://45756851.fs1.hubspotusercontent-na1.net/hubfs/45756851/video.png",
          "width" : 24
        },
        link_field={
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "",
            "type" : "EXTERNAL"
          }
        }
      %}
        {% module_attribute "richtext_field" %}
          <h2><span style="color: #000000;">Vos résultats</span></h2>
          <p style="font-size: 18px;"><span style="color: #000000;">Nous vous félicitons d'avoir pris le temps d'évaluer la maturité de votre équipe de développement. Nous avons analysé vos réponses et compilé quelques recommandations pour vous aider à saisir les opportunités d'améliorer vos performances ainsi qu'augmenter l'impact sur votre organisation.</span></p>
          <p style="font-size: 18px;"><br><span style="color: #000000;">Votre score à droite représente la moyenne de trois axes de performance en matière de développement logiciel: votre capacité de mesurer la performance de l'équipe, la</span><br><span style="color: #000000;">communication et alignement avec les parties prenantes, et la prévisibilité de vos opérations. Ces éléments fondamentaux vous donnent un aperçu rapide de la performance globale de votre équipe et de son impact sur l'organisation.</span></p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{% dnd_section
  padding={
    "default" : {
      "bottom" : "0px"
    }
  }
%}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/rich_text",
        offset=0,
        width=12
      %}
        {% module_attribute "html" %}
          <h2 style="text-align: center; font-size: 20px;">Something Powerful</h2>
          <p style="text-align: center; font-size: 15px;"><span style="color: #000000;">Tell The Reader More</span></p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{% dnd_section
  padding={
    "default" : {
      "top" : "0px"
    }
  }
%}
  {% dnd_column
    offset=0,
    width=4,
    padding={
      "default" : {
        "right" : "0px"
      },
      "mobile" : {
        "bottom" : "20px"
      }
    }
  %}
    {% dnd_row %}
      {% dnd_module
        path="/flex/modules/Card One",
        offset=0,
        width=12
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=4,
    width=4,
    padding={
      "default" : {
        "left" : "0px",
        "right" : "0px"
      }
    }
  %}
    {% dnd_row %}
      {% dnd_module
        path="/flex/modules/Card Two",
        offset=0,
        width=12
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=8,
    width=4,
    padding={
      "default" : {
        "left" : "0px"
      }
    }
  %}
    {% dnd_row %}
      {% dnd_module
        path="/flex/modules/Card Three",
        offset=0,
        width=12
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
{% dnd_section
  background_color="rgba(248, 250, 252, 1)",
  padding={
    "mobile" : {
      "top" : "0px"
    }
  },
  full_width=false
%}
  {% dnd_column
    offset=0,
    width=6
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/rich_text",
        offset=0,
        width=12
      %}
        {% module_attribute "html" %}
          <h1 style="font-size: 30px;"><span style="color: #000000; font-weight: normal;">Quelle est la prochaine étape?</span></h1>
          <p style="font-weight: normal; font-size: 20px;"><span style="color: #000000;">Pour vous accompagner au-delà de cette évaluation, nous avons élaboré un guide simple proposant une série de recommandations ciblées pour améliorer votre performance selon les trois dimensions évaluées. Conçu pour une mise en application facile et rapide, ce guide regroupe plusieurs conseils pratiques que vous pourrez initier en toute autonomie. Notre équipe reste néanmoins à votre entière disposition pour vous fournir un soutien personnalisé, si le besoin se fait sentir.</span></p>
          <p style="font-size: 20px;"><span style="color: #000000;">Pour recevoir gratuitement ce guide, il vous suffit de nous transmettre vos informations de contact. Nous vous enverrons alors un lien pour télécharger directement le document.</span></p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=6,
    width=6,
    background_color="rgba(243, 244, 249, 1)",
    padding={
      "default" : {
        "bottom" : "40px",
        "top" : "40px",
        "left": "20px",
        "right": "20px",
      }
    }
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/form",
        offset=0,
        width=12,
        form={
          "form_id" : "64b82298-16d7-4ff4-8602-4c1c2a96da58",
          "form_type" : "HUBSPOT",
          "message" : "Thanks for submitting the form.",
          "response_type" : "inline"
        },
        title="Get in touch"
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
{# Call to action #}


{# Three column image with text #}
{{ request.query_dict.total }}

{% end_dnd_area %}
{% endblock body %}
